{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>RaspPi Home Automation</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{% static "jquery/ui/1.11.4/themes/smoothness/jquery-ui.css" %}">
    <script src="{% static "jquery/jquery-1.11.3.min.js " %}"></script>
    <script src="{% static "jquery/ui/1.11.4/jquery-ui.js" %}"></script>
    <script src="{% static "jtable/jquery.jtable.min.js" %}" type="text/javascript"></script>
{#    <link href="{% static "jtable/themes/metro/blue/jtable.min.css" %}" rel="stylesheet" type="text/css" />#}
    <link href="{% static "jtable/themes/metro/darkgray/jtable.css" %}" rel="stylesheet" type="text/css" />
{#    <link href="{% static "jtable/themes/lightcolor/gray/jtable.css" %}" rel="stylesheet" type="text/css" />#}


    <link href="{% static "jquery/validation/css/validationEngine.jquery.css" %}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{% static "jquery/validation/js/jquery.validationEngine.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery/validation/js/languages/jquery.validationEngine-en.js" %}"></script>


{#    <link rel="stylesheet" href="/css/style.css" type="text/css" charset="utf-8">#}

{#Problems with the local load of UI Theme. To check    #}
{#    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">#}
{#    <script src="//code.jquery.com/jquery-1.10.2.js"></script>#}
{#    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>#}


{#    <script>#}
{#        function preventBack(){window.history.forward();}#}
{#        setTimeout("preventBack()", 0);#}
{#        window.onunload=function(){null};#}
{#    </script>#}

</head>
<body>
<span id="background"></span>
<div id="page">
  <div id="sidebar">
    <div id="logo"><a href="/"><em>Configuration tool for home automation</em></a></div>
    <!-- /#logo -->
    <ul id="navigation">
      <li class="selected"><a href="/">All devices</a></li>
      <li><a href="/edit">Configuration</a></li>
      <li><a href="/jobs">Scheduler activation</a></li>
      <li><a href="/">About</a></li>
    </ul>
    <!-- /#navigation -->
{#    <ul id="connect">#}
{#      <li><a href="#" class="facebook"></a></li>#}
{#      <li><a href="#" class="twitter"></a></li>#}
{#      <li><a href="#" class="link-us"></a></li>#}
{#    </ul>#}
    <!-- /#connect -->
{#    <div class="footer">Copyright &copy; <a href="#">raspihome.com</a><br>#}
{#      All Rights Reserved<br>#}
{#    </div>#}
    <!-- /.footer -->
  </div>
  <!-- /#sidebar -->

  {% block content %}{% endblock %}

</div>
<!-- /#page -->
</body>
</html>
